venv3
long-reads/basecalling/output
*.nfs*
*.out
*.txt
*.o
*.log
*.out
*.csv
*.conf
input-datasets
custom-*
*.info.cfg
*.info.status
execute.sh
.DS_Store
plink
bb
bazel-1.9
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
*~
*.tmp
/**/pgen_compress
/**/plink2
/Python/Pgenlib.egg-info/
/Python/dist/
*.o
*~
plink2_src.zip
sim*
*.gz
*.as
bsw
dbg
fmi
kmer-cnt
phmm
pileup
poa